{% extends "global/base.html" %}

{% block content %}
    <main class="data">
        <span class="title">{{ title }}</span>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.label == 'Name' %}
                    <div class="col-1">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% elif field.label == 'Dropout' %}
                    <div class="col-1">
                        {{ field }}
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        
                    </div>
                {% else %}
                    <div class="col-2 caption">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Send data">
        </form>
    </main>
{% endblock content %}