{% extends "global/base.html" %}

{% block content %}
    <section class="content-student">
        <table class="students-table">
            <caption class="caption-table">List of Students</caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Id</th>
                    <th class="table-header major">Name</th>
                    <th class="table-header major">Birthday</th>
                    <th class="table-header">City</th>
                    <th class="table-header">Class</th>
                    <th class="table-header">Dropout?</th>
                    <th class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in page_obj %}
                <tr class="table-row">
                    <td class="table-cel center">{{ student.id }}</td>
                    <td class="table-cel major">{{ student.name }}</td>
                    <td class="table-cel major center">{{ student.birthday }}</td>
                    <td class="table-cel center">{{ student.get_city_display }}</td>
                    <td class="table-cel center">{{ student.my_class }}</td>
                    <td class="table-cel center">
                        {% if student.dropout %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="table-cel center">
                        <a href="{% url "course:see_student" student.id %}">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                <tr class="table-row">
                    <th class="table-header page-bar" colspan="7">
                        {% include "global/partials/pagination.html" %}
                    </th>
                </tr>
            </tbody>
        </table>
        
    </section>
{% endblock content %}