{% extends "global/base.html" %}

{% block content %}
    <main class="data">
        <span class="title">STUDENT INFORMATION</span>
        <div class="student-information">
            <p><b>Id:</b> {{ student.id }}</p>
            <p><b>Name:</b> {{ student.name }}</p>
            <p><b>Birthday:</b> {{ student.birthday }}</p>
            <p><b>Sex:</b> {{ student.get_sex_display }}</p>
            <p><b>City:</b> {{ student.get_city_display }}</p>
            <p><b>Class:</b> {{ student.my_class }}</p>
            <p>
                <b>Dropout:</b> 
                {% if student.dropout %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
        </div>
        {% if grades %} 
        <div class="student-information">
            <table class="student-grades-table">
                <thead>
                    <tr class="student-grades-table-header sgt">
                        <th class="sgt-left">Training Unit</th>
                        <th class="sgt-right">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        <tr class="sgt">
                            <td class="sgt-left">{{ grade.training_unit}}</td>
                            <td class="sgt-right">{{ grade.grade }} values</thead>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </main>
    <div class="buttons">
        <a href="{% url 'course:edit_student' student.id %}">Edit student</a>
        <a href="{% url 'course:confirm_deletion_student' student.id %}" class="delete">
            Delete student
        </a>
    </div>
{% endblock content %}