{% extends "global/base.html" %}

{% block content %}
    <section class="content-class">
        {% for c in classes %}
            <div class="block-class">
                <div class="block-class-img rd"></div>
                <div class="block-class-infor">
                    <a href="{% url 'course:main_data' c.id %}">
                        {{ c.acronym }} - {{ c.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}